body,html{
	font-family:"Microsoft YaHei",Source Sans Pro, Helvetica Neue,Roboto, Lato, sans-serif;
	font-size:10px;
}
body,html,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,span,button,a,input,textarea,select{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration: none;
	color:#000;
	border:none;
	-webkit-appearance:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}